{% extends "base.html" %}
{% load static %}
{% block title %} P-Care Home {% endblock %}

{% block maincss %}
<link href="{% static 'css/treatment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Treatment</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="col-lg-8">
    <div class="row">

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment Booking Form</h5>

            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="POST" action="{% url "book_appointment" %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Book Appointment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
