{% extends "base.html" %}
{% load static %}

{% block title %} Latest Prescription {% endblock %}
{% block maincss %}
<link href="{% static 'css/treatment.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Latest Prescription</h1>
    {% if prescription %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Prescription ID: {{ prescription.id }}</h5>
                <p class="card-text">Date: {{ prescription.date }}</p>
                <p class="card-text">Doctor: {{ doctor_name  }}</p>
                <p class="card-text">Number of Medicines: {{ medicine_count }}</p>
                <p class="card-text">Medicines:</p>
                <ul>
                    {% for medicine in prescription.medicines.all %}
                        <li>{{ medicine.name }} - {{ medicine.dosage }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No prescriptions found.</p>
    {% endif %}
</div>
{% endblock %}
