{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <!-- Favicons -->
    <link href="{% static '/img/cute.jpg' %}" rel="icon">
    <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


    <title> Login Page</title>
</head>

<body>

    <div class="container" id="container">
        <h2>Password Reset Sent</h2>
        <p>We have sent you an email with instructions on how to reset your password.</p>


    </div>


    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <script src="{% static '/js/login.js' %}"></script>

    {% if register %}
    <script>
        register()
    </script>
    {% else %}
    <script>
        login()
    </script>
    {% endif %}
</body>

</html>