{% extends "base.html" %}
{% load static %}
{% block title %} P-Care User profile {% endblock %}

{% block maincss %}  
<link href="{% static '/css/user_profile.css' %}" rel="stylesheet">
<link href="{% static '/css/animation.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} 
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4 zoom-in-animation">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{% static '/img/wapg_uwc1_230509.jpg' %}" alt="Profile" class="rounded-circle" style="width:100px; height:100px;">
              <h2>{{ request.user.username }}</h2>
              <h3>{{ pet_profile.pet_type}}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8 zoom-in-animation">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Username</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.username }}</div>
                  </div>
                  


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ user.customer.address }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ user.customer.phone }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.email }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <!-- Profile Edit Form -->
                  <form method="post" action="{% url 'profile' %}">
                      {% csrf_token %}
                      <div class="row mb-3">
                          <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Pet Name</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="full_name" type="text" class="form-control" id="fullName" value="{{ pet_profile.pet_namee }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="petType" class="col-md-4 col-lg-3 col-form-label">Breed</label>
                          <div class="col-md-8 col-lg-9">
                            <div class="select-container">
                              <select name="pet_type" required>
                                  <option value="" disabled selected>Select Pet Type</option>
                                  <option value="dog">Dog</option>
                                  <option value="cat">Cat</option>
                                  <option value="bird">Bird</option>
                                  <!-- Add more options as needed -->
                              </select>
                          </div>
                          </div>
                      </div>

                      <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Pet Birthdate</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="pet_birthdate" type="date" class="form-control" id="fullName" value="{{ pet_profile.pet_birthdate}}">
                        </div>
                    </div>
              
                      <div class="row mb-3">
                          <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="address" type="text" class="form-control" id="address" value="{{ user.customer.address }}">
                          </div>
                      </div>
              
                      <div class="row mb-3">
                          <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                          <div class="col-md-8 col-lg-9">
                              <input name="phone" type="text" class="form-control" id="phone" value="{{ user.customer.phone }}">
                          </div>
                      </div>
              
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                  </form><!-- End Profile Edit Form -->
              </div>
              

              <div class="tab-pane fade pt-3" id="profile-settings">
                <!-- Settings Form -->
                <form method="post" action="{% url 'update_settings' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                        <div class="col-md-8 col-lg-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="changesMade" name="email_notifications" {% if user.customer.email_notifications %} checked {% endif %}>
                                <label class="form-check-label" for="changesMade">
                                    Changes made to your account
                                </label>
                            </div>
                            <!-- Add more options as needed -->
                        </div>
                    </div>
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form><!-- End Settings Form -->
            </div>
            

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form method="post" action="{% url 'change_password' %}">
                  {% csrf_token %}
                  <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                          <input name="current_password" type="password" class="form-control" id="currentPassword">
                      </div>
                  </div>
          
                  <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                          <input name="new_password1" type="password" class="form-control" id="newPassword">
                      </div>
                  </div>
          
                  <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                          <input name="new_password2" type="password" class="form-control" id="renewPassword">
                      </div>
                  </div>
          
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                  </div>
              </form><!-- End Change Password Form -->
          </div>
          

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    {% endblock %}