{% extends "base.html" %}
{% load static %}

{% block title %} Book Vaccination Appointment {% endblock %}

{% block maincss %}  
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Book Vaccination Appointment</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">Book Vaccination Appointment</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vaccination Appointment</h5>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Book Appointment</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
