{% extends "base_doc.html" %}
{% load static %}
{% block title %} Create Prescription {% endblock %}
{% block maincss %}
<link href="{% static '/css/treatment.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="col-11 text-center mt-4 mb-4">
        <h3>Create Prescription</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {{ prescription_form.as_p }}
        <h4>Medicines</h4>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save Prescription</button>
    </form>
</div>
{% endblock %}
